
/*sesaoIntro*/ /* parei no minuto 1:06:20*/
.sessao-intro{
    background-color: #000000;
    box-shadow: inset 0 -120px white;
}
.intro a{
    color: inherit;
}
.intro-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px  ;
}
.intro{
    align-self: center;
    padding-bottom: 160px;
}
.intro h2{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-family: poppins;
    font-weight: 600;
}
.intro p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
    font-family: roboto;
    font-weight: 400;
}

.foto img{
    max-width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 5px;
}
.botao{
    padding: 20px 40px;
    background-color: #9b3bec;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 600;
}
.botao:hover{
    background-color:#9b5bec;
}
.intro h2 span{
    color: #9b3bec;
}
@media (max-width: 800px){
    .intro-grid{
        grid-template-columns: 1fr;
    }
    .intro h2{
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 1.125;
    }
    .intro p{
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.5;
        color: #b2b2b2;
    }
    .botao{
        padding: 15px 30px;
        font-size: 15px;
    }
    .intro{
        padding-bottom: 20px;
    }
    .sessao-intro{
        background-color: #000000;
        box-shadow: inset 0 -80px white;
    }
    .foto img{
        height: 5 00px;
        width: 100%;

    }
}