.tecnologia{
    box-shadow: inset 0 40px white, inset 0 -60px white;
    

}
.tecnologia{
    background-color: black;
}
.tec-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px  ;
}
.text-tec h3{
    font-family: poppins;
    font-size: 22px;
    color: #b2b2b2;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.text-tec h2{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-family: poppins;
    font-weight: 600;
}
.text-tec p{
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.5;
    color: #b2b2b2;
    font-family: roboto;
    font-weight: 400;
    max-width: 35ch;
}
.text-tec{
    align-self: end;
    padding-bottom: 80px;
    
}


.foto-tec img{
    height: 800px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px
}
.foto-tec{
   max-height: 800px;
}
@media(max-width: 800px){
    .tec-grid{
        grid-template-columns: 1fr;
    }
    .tecnologia{
        box-shadow: inset 0 -80px white; 
    }
    .text-tec h3{
        font-family: poppins;
        font-size: 20px;
        color: #b2b2b2;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
    .text-tec h2{
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 1.125;
        font-family: poppins;
        font-weight: 600;
    }
    .text-tec p{
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 1.5;
        color: #b2b2b2;
        font-family: roboto;
        font-weight: 400;
        max-width: 35ch;
    }
    .foto-tec img{
        height: 500px;
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px
    }
    .botao-tec{
        padding: 20px 40px;
    }
}
